*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Rubik';
}

/* fonts */

@font-face {
    font-family:'Rubik';
    src: url('../font/Rubik-Regular.ttf');
}


/* Slider */
.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:100vh; 
    height: 100vw; 
    transition: background-image 2s ease;
}

body {
    /* overflow: hidden; */
}
/* Main Page */
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: yellowgreen;
}
.header--item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header--item li {
    display: inline;
    color: #FFFFFF;
    margin: 0 1vw;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

/* Main */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: fuchsia;
}
.main--item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}
.main--text {
    margin-left: 10%;
}
.main--title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main--img, .main--subtitle {
    display: none;
}

/* Footer */
.footer {
    background: tan;
    padding: 5vh 3vw;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
}
.footer--up_arrow {
    display: none;
}
.footer--item {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}





/* Search */
.search {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.96);
    display: none;
}
.search--exit {
    position: fixed;
    top: 3vh;
    right: 2.5vw;
}
.search--text {
    margin: auto;
}
.search--text input {
    height: 22px;
    padding-bottom: 10px;
    width: 50vw;
    font-weight: bold;
    color: black;
    outline:none;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(52, 54, 59, 0.2);
}
.search--text input:focus {
    border-bottom: 1px solid rgba(52, 54, 59, 1);
    transition: 1s linear;
}
.search--button {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F44242;

    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.search--button div {
    margin: 0 5px;
}